@charset "utf-8";
/*------------------------------------------------------------
        
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; background: transparent; border: 0; outline: 0; font-size: 100%; vertical-align: baseline;}
a{cursor:pointer};
body {color: #595959; line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}
a {color: #444;}
a:link { text-decoration: none;}
a:visited {text-decoration: none; color: #444;}
a:hover {color: #ff6600; text-decoration: none;}
a:active {text-decoration: none; color: #444;}

/*CSS类库*/
.floatL {float: left;}
.floatR {float: right;}
.clearFix:after {height:0; visibility:hidden; content:"."; display:block; clear:both;}
.yahei{font-family:'微软雅黑', 'MicrosoftYaHei', '黑体', 'Hei', Tahoma, Helvetica, arial, sans-serif}
.auto{margin-left:auto; margin-right:auto;}
.text_hidd{font-size:0; line-height:0; margin:0; padding:0; overflow:hidden; text-indent:-9999px;}
.hide{display:none;}
.block{display:block;}
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
.c333{color:#333333;}
.c666{color:#666666;}
.c999{color:#999999;}
.tac{text-align:center;}
.mr0{margin:0px;}